@import "mixins";

.formulario{
    font-size: 2rem;
@include flexbox2;
}


.prueba{
    background-color: #b105a2;
    width: 500px;
    color: #0008ff;
}

.seccion-contacto{
    margin-top: 5rem;
   @include flexbox2;
}

