@media (min-width: 320px) and (max-width: 425px) {
  .logo {
    max-width: 70%;
  }
  .div__fotosGaleria {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .formulario {
    max-width: 85%;
    margin: 0 auto;
    font-size: 1.5rem;
  }

  .foto_index {
    width: 100%;
  }

  .deje {
    width: 90%;
    margin: 0 auto;
  }

  footer {
    font-size: 1.5rem;
  }

  .padre-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 100%;
  }

  .div__fotosGaleria {
    max-width: 90%;
    margin: 0 auto;
    height: 35%;
  }

  .fotos_galeria {
    width: 80%;
  }

  .seccion-contacto {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  #carouselExampleIndicators{
    width: 80%;
    margin: 0 auto;
      }
}

@media (min-width: 426px) and (max-width: 767px) {
  .caja_padre {
    grid-template-columns: 1fr;
  }

  .padre-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img {
    max-width: 100%;
    margin: 0 auto;
  }
  .seccion-contacto {
    max-width: 90%;
    margin: 0 auto;
  }

  .formulario {
    max-width: 90%;
    margin: 0 auto;
  }
  .h1_contacto {
    font-size: 1rem;
  }
  .foto_index {
    width: 100%;
    margin: 0 auto;
  }

  .formulario {
    font-size: 2rem;
  }

  .deje {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .div_index-video_img {
    margin-top: 1rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .caja_padre {
    grid-template-columns: repeat(2, 1fr);
  }
  .padre-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .foto_index {
    width: 100%;
  }

  .div_index-video_img {
    margin-top: 1rem;
  }
  
  #carouselExampleIndicators{
    width: 45%;
    margin: 0 auto;
      }
}

@media (min-width: 1441px) and (max-width: 2560px) {
  .foto_index {
    width: 65%;
    margin: 0 auto;
    margin-top: 1rem;
  }

  iframe {
    width: 65%;
    height: 50rem;
    margin: 0 auto;
  }

 
}

/********BOSTRAP MENU********/

@media (max-width: 996px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
