
  #productos-tienda h2, p {
    text-align: center;}
      
         
  .padre-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 1rem;
    justify-items: center;}
  
      
  
  
      
  .card-tienda{
    width: 15rem;
    border: solid 4px rgb(228, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 5px;
  font-size: 1.5rem;}
  
     
  .card-tienda img{
    height: 12rem;}
      
  #caja_tienda{
    grid-area: banner;
    background-color: rgb(5, 5, 5);
    margin-top: 4rem;
    padding: 1rem;}
       
  #caja_tienda h2{
    text-align: center;}
      
  .caja_padre{
    display: grid;

    justify-content: center;
    gap: 1rem;}
      
 
      
  .caja-caracteristicas{
    display: flex;
    flex-direction: column;
    align-items: center;}
  
  
  button{
    background-color: #000000;
    color: red;
    font-size: 20px;}
  
  .p_tienda{
    background-image: linear-gradient(to bottom, red,yellow);}
  
  
  .zapatillas{
    width: 200px;}

    .h2_tienda{
      color: #00fd33;
    text-align: center;
    }

    .h3_tienda{
      color: #00fd33;
      text-align: center;}

 
    
    
