@import "variables";
@import "mixins";

#productos-tienda h2,
p {
  text-align: center;
}

.padre-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 1rem;
  justify-items: center;
}

.card-tienda {
  width: 15rem;
  border: solid 4px rgb(228, 13, 13);
  flex-direction: column;
  padding: 1rem;
  gap: 5px;
  font-size: 1.5rem;
  @include flexbox;

  img {
    height: 12rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
}

.caja_tienda {
  grid-area: banner;
  background-color: $color-titulos;
  margin-top: 4rem;
  padding: 1rem;

  h2 {
    text-align: center;
  }
}

.caja_padre {
  display: grid;
  justify-content: center;
  gap: 1rem;
}

.caja-caracteristicas {
  flex-direction: column;
  @include flexbox;
}

button {
  background-color: $color-titulos;
  color: red;
  font-size: 20px;
}

.p_tienda {
  background-image: linear-gradient(to bottom, red, yellow);
}

.zapatillas {
  width: 200px;
}

.h2_tienda {
  color: #00fd33;
  text-align: center;
}

.h3_tienda {
  color: #00fd33;
  text-align: center;
}

.fotos_tienda {
  width: 100%;
  height: 15rem;
}
